@using eSim.Infrastructure.DTOs.Admin.order
@model List<OrderDetailResponseViewModel>


<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Orders</h4>
            </div>
            <div class="card-body">
                @if(Model.Any()){

                
                <table id="example" class="datatable-scroll table-hover table dt-responsive nowrap align-middle mdl-data-table" style="width:100%">

                    <thead>
                        <tr>
                            <th scope="col">Order Refrence ID</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.OrderReferenceId
                                </td>
                                <td>@eSim.Common.StaticClasses.BusinessManager.ConvertDate(item.CreatedDate)</td>
                                @* <td>@item.CreatedDate</td> *@
                                @if(item.Currency == "USD"){
                                    <td>$@item.Total</td>
                                }
                                else{
                                    <td>@item.Currency @item.Total</td>

                                   }
                                <td>@item.Status</td>
                                <td>

                                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="edit" class="mx-2" asp-action="Detail" asp-controller="Order" asp-route-orderReferenceId="@item.OrderReferenceId">
                                        <i class="ri-eye-fill fs-5"></i>
                                    </a>

                                </td>
                              @*   <td>
                                    @foreach(var orderitems in item.Order)
                                    {
                                        
                                    }
                                </td> *@

                            </tr>
                        }

                    </tbody>
                </table>
                }
                else
                {
                    <h5 class=" text-center bg-info p-3">There is nothing to show</h5>
                }
			</div>
		</div>
	</div>
</div>