@using eSim.Infrastructure.DTOs.Global
@using eSim.Infrastructure.DTOs.Middleware.Inventory
@model List<SubscriberInventoryResponse>

@{
    var List = Model;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0 d-inline">Your eSIMs</h5>
            </div>
            <div class="card-body">
                <table class="datatable-scroll table-hover table dt-responsive nowrap align-middle mdl-data-table" style="width:100%">
                    <thead>
                    <tr class="clickable-row">
                        <th>Bundle</th>
                        <th>ID</th>
                        <th>Country</th>
                        <th>Data</th>
                        <th>Local Calls</th>
                        <th>Local SMS</th>
                        <th>Duration</th>
                        <th>Includes Number</th>
                        <th>Remaining</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    
                    <tbody class="list form-check-all">
                        @if (Model != null)
                        {
                            @foreach (var item in List)
                            {
                                <tr>
                                    <td>@item.Description</td>
                                    <td>@item.Item</td>
                                    <td>@item.Country</td>
                                    <td>@item.DataAmount</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>@item.Duration</td>
                                    <td>*</td>
                                    <td>@item.Quantity</td>
                                    <td class="View-Detail" data-action="@Url.Action("Detail", "Inventory")" data-id="@item.Item">
                                        <button class="btn btn-sm btn-soft-primary"><i class="mdi mdi-eye-outline mdi-18px"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

@section scripts {
  
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>
    <!-- Sweet alert init js-->
    <script src="~/assets/js/pages/sweetalerts.init.js"></script>
  
    <script src="~/assets/libs/prismjs/prism.js"></script>

    <script src="~/assets/js/app.js"></script>

    <script>
        $(document).on('click', '.View-Detail', function()
            {
                var id = $(this).data('id');
                window.location.href = '/Inventory/Detail/' + id;
            });
    </script>
    
    }
