@model eSim.Infrastructure.DTOs.Esim.GetEsimHistoryResponseDTO;


<div class="row">
    <div class="P-5">

    
    <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified nav-border-top nav-border-top-success mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#nav-border-justified-home" role="tab" aria-selected="false">
                    <i class="ri-home-5-line align-middle me-1"></i> SIM DATA
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#nav-border-justified-profile" role="tab" aria-selected="false">
                    <i class="ri-user-line me-1 align-middle"></i> Bundles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#nav-border-justified-messages" role="tab" aria-selected="false">
                    <i class="ri-question-answer-line align-middle me-1"></i>History
                </a>
            </li>
        </ul>
        <div class="tab-content text-muted">
            <div class="tab-pane active" id="nav-border-justified-home" role="tabpanel">
                <h6>SIM History</h6>
                <table class="datatable-scroll table dt-responsive nowrap align-middle mdl-data-table" style="width:100%">
                    <thead>
                        <tr>
                            <th class="ps-5">Action</th>
                            <th>Detail</th>
                            <th>Bundle</th>
                            <th>Action Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model.Actions)
                            {
                                <tr class="View-Detail">
                                    <td>@item.Name</td>
                                    <td></td>
                                    <td>$@item.BundleName</td>
                                    <td>$@item.Date</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="nav-border-justified-profile" role="tabpanel">
                <h6>Use a color palette</h6>
                <p class="mb-0">
                    Opposites attract, and that’s a fact. It’s in our nature to be interested in the unusual, and that’s why using contrasting colors in <a href="javascript:void(0);" class="text-decoration-underline"><b>Graphic Design</b></a> is a must. It’s eye-catching, it makes a statement, it’s impressive graphic design. Increase or decrease the letter spacing depending on the situation and try, try again until it looks right, and each letter has the perfect spot of its own.
                </p>
            </div>
            <div class="tab-pane" id="nav-border-justified-messages" role="tabpanel">
                <h6>Message</h6>
                <p class="mb-0">
                    Consistency is the one thing that can take all of the different elements in your design, and tie them all together and make them work. In an awareness campaign, it is vital for people to begin put 2 and 2 together and begin to recognize your cause. Consistency piques people’s interest is that it has become more and more popular over the years, which is excellent news to the beginner and advanced <a href="javascript:void(0);" class="text-decoration-underline"><b>Contact Designer</b></a>.
                </p>
            </div>
        </div>
    </div>
</div>


@* <div class="row">
    <div class="col-5 ">
        <div class="p-4">
            <h4>@Model.name</h4>
            <div class="d-flex mt-3 justify-content-between">
                <h6 class="d-flex flex-column align-items-center">
                    @if (Model.dataAmount != 0)
                    {
                        var GB = Math.Round((double)Model.dataAmount / 1024);
                        <i class="mdi mdi-database mdi-36px mb-1"></i>
                        <span>@($"{GB} GB")</span>
                    }
                </h6>
                <h6 class="d-flex text-muted flex-column align-items-center">

                    <i class="mdi mdi-phone mdi-36px mb-1"></i>
                    <span>NONE</span>

                </h6>
                <h6 class="d-flex text-muted flex-column align-items-center">
                    <i class="mdi mdi-message-processing mdi-36px mb-1"></i>
                    <span>NONE</span>
                </h6>
            </div>
            <div class="d-flex justify-content-around mt-5">
                <h6 class="d-flex flex-column align-items-center">
                    <i class="mdi mdi-clock-outline mdi-36px mb-1"></i>
                    <span> @Model.duration Days </span>
                </h6>
                <h6 class="d-flex flex-column align-items-center">
                    <i class="mdi mdi-earth mdi-36px mb-1"></i>
                    <span>
                        @if (Model.roamingEnabled?.Count() > 0)
                        {
                            <text>@Model.roamingEnabled?.Count() Countries</text>
                        }
                        else
                        {
                            <text>No</text>
                        }
                    </span>
                </h6>
            </div>
            <div class="d-flex justify-content-around mt-2">
                <h6 class="d-flex flex-column align-items-center">
                    <i class="mdi mdi-speedometer mdi-36px mb-1"></i>

                    <span> Unknown </span>
                </h6>
                <h6 class="d-flex flex-column align-items-center">
                    <i class="mdi mdi-play-circle-outline mdi-36px mb-1"></i>
                    <span>
                        @if (Model.autostart == true)
                        {
                            <text>AutoStart Enabled</text>
                        }
                        else
                        {
                            <text>AutoStart Disabled</text>
                        }
                    </span>
                </h6>
            </div>
        </div>
    </div>

    <div class="col-7 p-4">
        <div class="d-flex justify-content-between">
            <h5 class="modal-title" id="exampleModalgridLabel">Bundle Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="mt-3">
            <p>@Model.description</p>
            <h5 class="mt-3">Base Country</h5>
            <ul class="list-unstyled d-flex flex-wrap gap-2">
                @foreach (var item in Model.countries)
                {
                    <li>@item.country.name</li>
                }
            </ul>

            <h5 class="mt-3">Roaming Countries</h5>
            <ul class="list-unstyled d-flex flex-wrap gap-2">
                @foreach (var item in Model.roamingEnabled)
                {
                    <li>@item.country.name</li>
                }
            </ul>

        </div>
    </div>
</div> *@