@model eSim.Infrastructure.DTOs.Esim.EsimDetailsPartialViewModel;
@{
    var esimDetails = Model?.EsimDetails?.Data;
    var esimHistory = Model?.EsimHistory?.Data?.Actions;
}
<div class="card">
    <div class="row">

    </div>
    <div class="card-body">
        <ul class="nav nav-tabs nav-justified nav-border-top nav-border-top-success mt-4 mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" data-tab="overview" href="#nav-border-justified-home" role="tab" aria-selected="false">
                    <i class="ri-home-5-line align-middle me-1"></i> SIM Data
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#nav-border-justified-profile" role="tab" aria-selected="false">
                    <i class="ri-user-line me-1 align-middle"></i> Bundles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#nav-border-justified-messages" role="tab" aria-selected="false">
                    <i class="ri-question-answer-line align-middle me-1"></i>History
                </a>
            </li>
        </ul>

        <div class="tab-content text-muted">
            <div class="tab-pane active" id="nav-border-justified-home" role="tabpanel">
                <h6>Details</h6>
                <table class="datatable-scroll table dt-responsive nowrap align-middle mdl-data-table" style="width:100%">
                    <thead>
                        <tr>
                            <th class="ps-5">Iccid</th>
                            <th>PIN</th>
                            <th>PUK</th>
                            <th>Profile Status</th>
                            <th>First Installed Date</th>
                            <th>SMDP+ Address</th>
                            <th>SMDP+ ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (esimDetails is not null)
                        {
                            <tr class="View-Detail">
                                <td>@esimDetails.Iccid</td>
                                <td>@esimDetails.Pin</td>
                                <td>@esimDetails.Puk</td>
                                <td>@esimDetails.ProfileStatus</td>
                                <td>@esimDetails.FirstInstalledDateTime</td>
                                <td>@esimDetails.SmdpAddress</td>
                                <td>@esimDetails.MatchingId</td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
            <div class="tab-pane" id="nav-border-justified-profile" role="tabpanel">
                <h6>Use a color palette</h6>
                <p class="mb-0">
                    Opposites attract, and that’s a fact. It’s in our nature to be interested in the unusual, and that’s why using contrasting colors in <a href="javascript:void(0);" class="text-decoration-underline"><b>Graphic Design</b></a> is a must. It’s eye-catching, it makes a statement, it’s impressive graphic design. Increase or decrease the letter spacing depending on the situation and try, try again until it looks right, and each letter has the perfect spot of its own.
                </p>
            </div>
            <div class="tab-pane" id="nav-border-justified-messages" role="tabpanel">

                <h6>SIM History</h6>
                <table class="datatable-scroll table dt-responsive nowrap align-middle mdl-data-table" style="width:100%">
                    <thead>
                        <tr>
                            <th class="ps-5">Action</th>
                            <th>Detail</th>
                            <th>Bundle</th>
                            <th>Action Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (esimHistory != null)
                        {
                            @foreach (var item in esimHistory)
                            {
                                <tr class="View-Detail">
                                    <td>@item.Name</td>
                                    <td></td>
                                    <td>@item.BundleName</td>
                                    <td>@item.Date</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
