@model eSim.Infrastructure.DTOs.Esim.SubscriberInventoryViewModel

@{

}

<div>
    <div class="modal fade bs-example-modal-center" id="inventoryModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center p-5" id="inventoryModalBody">

                    @if (!Model.Inventory.Any())
                    {
                        <div class="alert alert-danger text-center">
                            Your inventory is currently empty
                        </div>
                    }
                    else
                    {
                        <form asp-action="ApplyBundleToExistingEsim" method="post" asp-controller="Esim">
                            <input type="hidden" asp-for="@Model.Iccid" />

                            <div class="mb-3">
                                <label asp-for="@Model.Bundle" class="form-label">Select Bundle</label>
                                <select asp-for="@Model.Bundle" asp-items="@Model.Inventory" class="form-select" required>
                                    <option value="">-- Select a bundle --</option>
                                </select>
                                <span asp-validation-for="@Model.Bundle" class="text-danger"></span>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" id="submitBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    }

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

