<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    <partial name="~/Views/Shared/_title_meta.cshtml" />
    @RenderSection("styles", required: false)
    <partial name="~/Views/Shared/_head_css.cshtml" />

@*     @Html.Partial("~/Views/Shared/_title_meta.cshtml")
    @Html.Partial("~/Views/Shared/_head_css.cshtml") *@

</head>
<body>
    <!-- Begin page -->
    <div id="layout-wrapper">
@*         @Html.Partial("~/Views/Shared/_menu.cshtml")
 *@        
 <partial name="~/Views/Shared/_menu.cshtml" />


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
@*                     @Html.Partial("~/Views/Shared/_page_title.cshtml") *@
                    <partial name="~/Views/Shared/_page_title.cshtml" />


                    @RenderBody()


                </div>
            </div>
@*             @Html.Partial("~/Views/Shared/_footer.cshtml") *@
            <partial name="~/Views/Shared/_footer.cshtml" />

        </div>

    </div>
    <!-- END layout-wrapper -->

 @*    @Html.Partial("~/Views/Shared/_customizer.cshtml")
  *@
  <partial name="~/Views/Shared/_customizer.cshtml" />


@*     @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")
 *@
 <partial name="~/Views/Shared/_vendor_scripts.cshtml" />

@*     @{
        Html.RenderPartial("_ValidationScriptsPartial");
    } *@
@*     <partial name="_ValidationScriptsPartial" />
 *@

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>