@model eSim.Infrastructure.DTOs.Account.ForgotPasswordDTO


@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<style>

    .field-validation-error {
        color: darkred;
    }

</style>


<main class="form-signin">
    <form asp-action="ForgotPassword" asp-controller="Account" method="post" enctype="application/x-www-form-urlencoded">
        <div class="text-center">
            <img class="mb-4" src="https://www.inovedia.com/wp-content/uploads/2020/04/logo.png" alt="" width="150">
        </div>

        <h4 class="h6 mb-3   text-center fw-normal">Forgot Password</h4>


        <div class="text-center">
            @if (TempData["OTPDetailsNotAdded"] is not null)
            {
                <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                    @TempData["OTPDetailsNotAdded"]
                </div>
            }
            @if (TempData["EmailValidationError"] is not null)
            {
                <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                    @TempData["EmailValidationError"]
                </div>
            }
            @if (TempData["UserNotFound"] is not null)
            {
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    @TempData["UserNotFound"]
                </div>
            }
            @if (TempData["LinkExpired"] is not null)
            {
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    @TempData["LinkExpired"]
                </div>
            }
            @if (TempData["ResetLinkExpired"] is not null)
            {
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    @TempData["ResetLinkExpired"]
                </div>
            }
            @if (TempData["OTPFailed"] is not null)
            {
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    @TempData["OTPFailed"]
                </div>
            }
            @if (TempData["EmailNotReceived"] is not null)
            {
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    @TempData["EmailNotReceived"]
                </div>
            }
        </div>

        <div class="mb-1">
            <label asp-for="Email" class="form-label">Email address  <span class="text-danger">*</span></label>
            <input class="form-control" asp-for="Email" placeholder="name@example.com">
            <span class="" asp-validation-for="Email"></span>

        </div>

        <button class="w-100 btn btn-outline-primary" type="submit">Submit</button>
        <p class="mt-5 mb-3 text-muted text-center">Redirect to <a asp-action="Index" class="text-muted">Login</a>© 2025</p>
    </form>
</main>


@section Scripts {

    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
}

