@using eSim.Infrastructure.DTOs.AccessControl;

@model UserTempDTO



@foreach (var group in Model.ParentKeys)
{
    <ul>

        <li>

            @Model.Users.FirstOrDefault(a => a.UserId == group)?.Email
            - @group

        </li>


        <!-- admin -->

        <table>
            <tbody>
                <tr>
                    <td>Admins</td>
                </tr>




                @foreach (var item in Model.Users.Where(a => a.ParentId == group && a.UserType == 2))
                {

                    <tr>
                        <td>

                            @item.UserId - @item.Username - @item.UserType - @item.ParentId
                        </td>

                    </tr>

                }


            </tbody>
        </table>







    </ul>
    <ul>

        <!-- sub admin -->

        <table>
            <tbody>
                <tr>
                    <td>Sub Admins</td>
                </tr>




                @foreach (var item in Model.Users.Where(a => a.ParentId == group && a.UserType == 3))
                {

                    <tr>
                        <td>

                            @item.UserId - @item.Username - @item.UserType - @item.ParentId
                        </td>

                    </tr>

                }


            </tbody>
        </table>

    </ul>

    <ul>

        <!-- clients -->

        <table>
            <tbody>
                <tr>
                    <td>clients</td>
                </tr>




                @foreach (var item in Model.Users.Where(a => a.ParentId == group && a.UserType == 4))
                {

                    <tr>
                        <td>

                            @item.UserId - @item.Username - @item.UserType - @item.ParentId
                        </td>

                    </tr>

                }


            </tbody>
        </table>

    </ul>


    <ul>

        <!-- sub clint -->

        <table>
            <tbody>
                <tr>
                    <td>Sub clients</td>
                </tr>




                @foreach (var item in Model.Users.Where(a => a.ParentId == group && a.UserType == 5))
                {

                    <tr>
                        <td>

                            @item.UserId - @item.Username - @item.UserType - @item.ParentId
                        </td>

                    </tr>

                }


            </tbody>
        </table>

    </ul>


      



}
