@using eSim.Infrastructure.DTOs.Global
@using eSim.Infrastructure.DTOs.Middleware.Bundle

@model Result<List<Bundle>>

@{
    ViewBag.pTitle = "Standard eSIM Bundles";
    ViewBag.pageTitle = "Buy Bundles";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Choices</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div>
                    <div>


                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="mb-3">
                                    <label for="choices-single-default" class="form-label text-muted">Filter By Region</label>
                                    @*   <p class="text-muted">Set <code>data-choices</code> attribute to set a default single select.</p> *@
                                    <select class="form-control" data-choices name="choices-single-default"
                                    id="choices-single-default">
                                        <option value="">Select Region</option>
                                        <option value="Choice 1">Choice 1</option>
                                        <option value="Choice 2">Choice 2</option>
                                        <option value="Choice 3">Choice 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="mb-3">
                                    <label for="choices-single-default" class="form-label text-muted">Filter By Country</label>
                                    @*                                   <p class="text-muted">Set <code>data-choices</code> attribute to set a default single select.</p> *@
                                    <select class="form-control" data-choices name="choices-single-default"
                                    id="choices-single-default">
                                        <option value="">Select Country</option>
                                        <option value="Choice 1">Choice 1</option>
                                        <option value="Choice 2">Choice 2</option>
                                        <option value="Choice 3">Choice 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="mb-3">
                                    <label for="choices-single-default" class="form-label text-muted">Filter By State</label>
                                    @*                                   <p class="text-muted">Set <code>data-choices</code> attribute to set a default single select.</p> *@
                                    <select class="form-control" data-choices name="choices-single-default"
                                    id="choices-single-default">
                                        <option value="">Select State</option>
                                        <option value="Choice 1">Choice 1</option>
                                        <option value="Choice 2">Choice 2</option>
                                        <option value="Choice 3">Choice 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="mb-3">
                                    <label for="choices-single-default" class="form-label text-muted">Filter By Plane</label>
                                    @*                                   <p class="text-muted">Set <code>data-choices</code> attribute to set a default single select.</p> *@
                                    <select class="form-control" data-choices name="choices-single-default"
                                    id="choices-single-default">
                                        <option value="">Select Plane</option>
                                        <option value="Choice 1">Choice 1</option>
                                        <option value="Choice 2">Choice 2</option>
                                        <option value="Choice 3">Choice 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0 d-inline">All Bundles</h5><p class="text-muted d-inline ms-2">Select a Bundle for info</p>
            </div>
            <div class="card-body">
                <table class="datatable-scroll table table-bordered dt-responsive nowrap align-middle mdl-data-table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Bundle</th>
                            <th>Country</th>
                            <th>Data</th>
                            <th>Local Calls</th>
                            <th>Local SMS</th>
                            <th>Duration</th>
                            <th>Includes Number</th>
                            <th>Roaming</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model != null)
                        {
                            @foreach(var item in Model.Data)
                            {
                                <tr>
                                    <td>@item.name</td>
                                    <td>@item.countries</td>
                                    <td>@item.dataAmount</td>
                                    <td></td>
                                    <td></td>
                                    <td>@item.duration</td>
                                    <td>@item.roamingEnabled</td>
                                    <td>Yes (14 Countries)</td>
                                    <td>@item.price</td>
                                    <td><button class="btn btn-sm btn-soft-info">+</button></td>
                                </tr>
                            }
                        }
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->


@section scripts {
        <script>
        // $(document).ready(function() {
        //     $('#scrollvertical').DataTable({
        //             createdRow: function(row, data, index) {
        //     $('td', row).eq(6).css('text-align', 'center'); // Center 4th column
        // },
        //         scrollY: '35vh',
        //         scrollCollapse: true,
        //         paging: true,
        //         responsive: true,
        //         dom: 'lrtip',
        //     });
        // });
       
    </script>
    <!-- prismjs plugin -->
    <script src="~/assets/libs/prismjs/prism.js"></script>

    <script src="~/assets/js/app.js"></script>
}